
<nav>
   <ul>
      <li><a href="/intindef/#intro">Instroducción</a></li>
      <li><a href="/intindef/#inmediatas">Inmediatas</a></li>
      <li><a href="/intindef/#sustitucion">Sustitución</a></li>
      <li><a href="/intindef/#partes">Por Partes</a></li>
      <li><a href="/intindef/#fracciones">Fracciones Simples</a></li>
   </ul>
</nav>

<div>
<div class="maketitle">



   <h2 class="titleHead">Integral Indefinida</h2>
   <div class="author" ><span 
   class="cmr-12x-x-120">Tita Dolce, E. G.</span></div><br />
   <div class="date" ><span 
   class="cmr-12x-x-120">10</span><span 
   class="cmr-12x-x-120">&#x00A0;de septiembre</span><span 
   class="cmr-12x-x-120">&#x00A0;de</span><span 
   class="cmr-12x-x-120">&#x00A0;2022</span></div>
      </div><div 
   class="abstract" 
   >
      <h3 class="abstracttitle">
   <span 
   class="cmbx-10x-x-109">Resumen</span>
   </h3>
         <!--l. 12--><p class="noindent" ><span 
   class="cmr-10x-x-109">Todos sabemos que cada operaci</span>ó<span 
   class="cmr-10x-x-109">n matem</span>á<span 
   class="cmr-10x-x-109">tica tiene su correspondiente</span>
         <span 
   class="cmr-10x-x-109">operaci</span>ó<span 
   class="cmr-10x-x-109">n opuesta, por ejemplo, suma y resta, multiplicaci</span>ó<span 
   class="cmr-10x-x-109">n y divisi</span>ó<span 
   class="cmr-10x-x-109">n,</span>
         <span 
   class="cmr-10x-x-109">potencia y ra</span>í<span 
   class="cmr-10x-x-109">z, etc. Tamb</span>íé<span 
   class="cmr-10x-x-109">n aprendimos el concepto de derivada de una</span>
         <span 
   class="cmr-10x-x-109">funci</span>ó<span 
   class="cmr-10x-x-109">n y c</span>ó<span 
   class="cmr-10x-x-109">mo calcularla. La derivada tambi</span>é<span 
   class="cmr-10x-x-109">n tiene su operaci</span>ó<span 
   class="cmr-10x-x-109">n opuesta</span>
         <span 
   class="cmr-10x-x-109">y esta es </span><span 
   class="cmbx-10x-x-109">la integral</span><span 
   class="cmr-10x-x-109">.</span>
         <!--l. 16--><p class="indent" >     <span 
   class="cmr-10x-x-109">Aprenderemos  los  tipos  de  integrales  que  existen  y  las  t</span>é<span 
   class="cmr-10x-x-109">cnicas</span>
         <span 
   class="cmr-10x-x-109">necesarias para calcularlas.</span>
   </div>
   
      <h3 class="sectionHead"><span class="titlemark">1.</span><a name="intro"></a>Introducción</h3>
   
   <!--l. 19--><p class="noindent" >La integral <span 
   class="cmbx-12">indefinida </span>es la opuesta a la derivada. Es decir, si tenemos una
   funcion f(x) la integración nos permite hallar una familia de funciones que al
   derivarlas obtengamos la función original f(x).
   <!--l. 21--><p class="indent" >   Tomemos por ejemplo la función
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-10x.png" alt="F (x) = x2
   " class="math-display" ><a 
    id="x1-1001r1"></a></div>
      </td><td class="equation-label">(1)</td></tr></table>
   <!--l. 24--><p class="nopar" >
   Sabemos que su derivada es:
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-11x.png" alt="  &#x2032;
   F (x) = f (x) = 2x
   " class="math-display" ><a 
    id="x1-1002r2"></a></div>
      </td><td class="equation-label">(2)</td></tr></table>
   <!--l. 28--><p class="nopar" >
   Entonces, podemos afirmar que la función F es una primitiva o antiderivada de la
   función f, ya que al derivar F obtenemos f.
   
      <h4 class="subsectionHead"><span class="titlemark">1.1.   </span> <a 
    id="x1-20001.1"></a>¿Familia de derivadas?¿Qué es eso?</h4>
   <!--l. 31--><p class="noindent" >Sigamos en el ejemplo anterior. Sabemos que la función F es una primitiva o
   antiderivada de la función f porque, al derivar F obtenemos f.
   <!--l. 33--><p class="indent" >   Ahora bien, ¿F es la única primitiva de f? Pues, <span 
   class="cmbx-12">NOOOO!!!!!! </span>Si derivamos la
   función
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-12x.png" alt="         2
   H (x) = x  + 3
   " class="math-display" ><a 
    id="x1-2001r3"></a></div>
      </td><td class="equation-label">(3)</td></tr></table>
   <!--l. 37--><p class="nopar" >
   también obtenemos
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-13x.png" alt="H &#x2032;(x ) = f (x) = 2x
   " class="math-display" ><a 
    id="x1-2002r4"></a></div>
      </td><td class="equation-label">(4)</td></tr></table>
   <!--l. 41--><p class="nopar" >
   En general, cualquier función de la forma
      <table 
   class="equation"><tr><td>
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-14x.png" alt="         2
   F (x) = x +  C (con C=constante   real)
   " class="math-display" ><a 
    id="x1-2003r5"></a></div>
      </td><td class="equation-label">(5)</td></tr></table>
   <!--l. 46--><p class="nopar" >
   nos da como derivada
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-15x.png" alt="F &#x2032;(x) = f (x) = 2x
   " class="math-display" ><a 
    id="x1-2004r6"></a></div>
      </td><td class="equation-label">(6)</td></tr></table>
   <!--l. 50--><p class="nopar" >
   ya que la derivada de una consante es <span 
   class="cmbx-12">cero</span>.
   <!--l. 53--><p class="indent" >   Por esto hablamos de una &#8221;familia&#8221;de primitivas. Una integral indefinida tiene
   infinitas soluciones, y todas ellas difieren solamente en una constante.
   <!--l. 55--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">1.2.   </span> <a 
    id="x1-30001.2"></a>Definición Formal</h4>
   <!--l. 57--><p class="noindent" >Una función F es una primitiva o antiderivada de una
   <!--l. 59--><p class="indent" >
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-16x.png" alt="                 &#x2032;
   funci´on f &#x21D0; &#x21D2;   F (x) = f (x )&#x2200;x &#x2208; domf
   " class="math-display" ></div>
   <!--l. 60--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">1.3.   </span> <a 
    id="x1-40001.3"></a>Representación de Antiderivadas</h4>
   <!--l. 62--><p class="noindent" >La operación para hallar la primitiva o antiderivada de una función se denomina
   <span 
   class="cmbx-12">INTEGRACI</span>Ó<span 
   class="cmbx-12">N </span>y se denota
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-17x.png" alt="    &#x222B;
   y =    f(x ) &#x22C5; dx = F(x) + C
   " class="math-display" ><a 
    id="x1-4001r7"></a></div>
      </td><td class="equation-label">(7)</td></tr></table>
   <!--l. 66--><p class="nopar" >
   donde f(x) es la función integrando, dx es el diferenciald e la variable de integración,
   F(x) es una primitiva y C es la constante de integración.
   <!--l. 69--><p class="noindent" >
      <h3 class="sectionHead"><span class="titlemark">2.   </span> <a 
    id="x1-50002" name="inmediatas"></a>Métodos de Integración</h3>
   <!--l. 70--><p class="noindent" >Vamos a los que nos interesa... si tengo una función f, ¿cómo encuentro su primitiva?
   es decir, ¿cómo la integro?.
   
   <!--l. 72--><p class="indent" >   Bien, resolver una integral utilizando su definición rigurosa (no la presentada en
   este artículo) es bastante tedioso pero, existen diversos métodos y reglas que
   podemos utilizar. Veamos algunos...
   <!--l. 74--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">2.1.   </span> <a 
    id="x1-60002.1"></a>Reglas Básicas de Integración</h4>
   <!--l. 75--><p class="noindent" ><span class="paragraphHead"><a 
    id="x1-70002.1"></a><span 
   class="cmbx-12">Regla de la Constante</span></span>
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-18x.png" alt="&#x222B;
   
      k &#x22C5; dx = kx + C
   " class="math-display" ><a 
    id="x1-7001r8"></a></div>
      </td><td class="equation-label">(8)</td></tr></table>
   <!--l. 78--><p class="nopar" >
   Es decir, la integral de una constante es la misma constante multiplicada por la
   variable que nos indica el diferencial.
   <!--l. 81--><p class="noindent" ><span class="paragraphHead"><a 
    id="x1-80002.1"></a><span 
   class="cmbx-12">Regla de la Potencia</span></span>
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-19x.png" alt="&#x222B;           xn+1
     xn &#x22C5; dx = ------+ C, n &#x2044;= 1
               n + 1
   " class="math-display" ><a 
    id="x1-8001r9"></a></div>
      </td><td class="equation-label">(9)</td></tr></table>
   <!--l. 84--><p class="nopar" >
   Si tenemos la variable, x en este caso, elevada a un exponente constante
   entonces la integral resulta de sumarle 1 al exponente y dividirla en el mismo
   número.
   <!--l. 86--><p class="noindent" ><span class="paragraphHead"><a 
    id="x1-90002.1"></a><span 
   class="cmbx-12">Regla del producto de una constante por una funci</span>ó<span 
   class="cmbx-12">n</span></span>
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-110x.png" alt="&#x222B;                &#x222B;
      kf(x) &#x22C5; dx = k   f(x) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-9001r10"></a></div>
      </td><td class="equation-label">(10)</td></tr></table>
   <!--l. 89--><p class="nopar" >
   Esto significa que cuando tenemos una constante MULTIPLICANDO a una
   función, podemos sacarla de la integral, integrar y luego multiplicar el resultado
   obtenido por dicha constante.
   <!--l. 92--><p class="noindent" ><span class="paragraphHead"><a 
    id="x1-100002.1"></a><span 
   class="cmbx-12">Regla de la Suma o Resta</span></span>
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   
   <img 
   src="../assets/imagenes/integral_indefinida/texto-111x.png" alt="&#x222B;                     &#x222B;            &#x222B;
     [f(x) ± g(x)] &#x22C5; dx =  f (x ) &#x22C5; dx ±  g(x) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-10001r11"></a></div>
      </td><td class="equation-label">(11)</td></tr></table>
   <!--l. 95--><p class="nopar" >
   Si tengo una suma o resta de dos o más funciones, puedo separar la integral como
   suma o resta de sendas integrales.
   <!--l. 98--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">2.2.   </span> <a 
    id="x1-110002.2"></a>Integración de funciones trigonométricas</h4>
   <!--l. 99--><p class="noindent" >
         <ol  class="enumerate1" >
   <li 
     class="enumerate" id="x1-11002x1">
         <!--l. 100--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-112x.png" alt="&#x222B;
     sen (x) &#x22C5; dx = - cos(x) + C
   " class="math-display" ><a 
    id="x1-11003r12"></a></div>
         </td><td class="equation-label">(12)</td></tr></table>
         <!--l. 102--><p class="nopar" >
         </li>
   <li 
     class="enumerate" id="x1-11005x2">
   
         <!--l. 104--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-113x.png" alt="&#x222B;
   
     cos(x ) &#x22C5; dx = sen (x) + C
   " class="math-display" ><a 
    id="x1-11006r13"></a></div>
         </td><td class="equation-label">(13)</td></tr></table>
         <!--l. 106--><p class="nopar" >
         </li>
   <li 
     class="enumerate" id="x1-11008x3">
         <!--l. 108--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-114x.png" alt="&#x222B;
      sec2(x) &#x22C5; dx = tan(x) + C
   " class="math-display" ><a 
    id="x1-11009r14"></a></div>
         </td><td class="equation-label">(14)</td></tr></table>
         <!--l. 110--><p class="nopar" >
   
         </li>
   <li 
     class="enumerate" id="x1-11011x4">
         <!--l. 112--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-115x.png" alt="&#x222B;       2
      cosec (x) &#x22C5; dx = - cotan(x) + C
   " class="math-display" ><a 
    id="x1-11012r15"></a></div>
         </td><td class="equation-label">(15)</td></tr></table>
         <!--l. 114--><p class="nopar" >
         </li>
   <li 
     class="enumerate" id="x1-11014x5">
         <!--l. 116--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-116x.png" alt="&#x222B;
      sec(x).tan (x) &#x22C5; dx = sec(x) + C
   " class="math-display" ><a 
    id="x1-11015r16"></a></div>
   
         </td><td class="equation-label">(16)</td></tr></table>
         <!--l. 118--><p class="nopar" >
         </li>
   <li 
     class="enumerate" id="x1-11017x6">
         <!--l. 120--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-117x.png" alt="&#x222B;
   
      cosec(x).cotan(x) &#x22C5; dx = - cosec(x) + C
   " class="math-display" ><a 
    id="x1-11018r17"></a></div>
         </td><td class="equation-label">(17)</td></tr></table>
         <!--l. 122--><p class="nopar" >
         </li></ol>
   <!--l. 125--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">2.3.   </span> <a 
    id="x1-120002.3"></a>Integrales que dan funciones trigonométricas inversas</h4>
   <!--l. 126--><p class="noindent" >
         <ol  class="enumerate1" >
   <li 
     class="enumerate" id="x1-12002x1">
         <!--l. 127--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-118x.png" alt="&#x222B;                                 &#x222B;
      &#x221A;--1----&#x22C5; dx = arcsen (x) + C o   &#x221A;--1----&#x22C5; dx = - arccos(x) + C
        1 - x2                            1 - x2
   " class="math-display" ><a 
    id="x1-12003r18"></a></div>
         </td><td class="equation-label">(18)</td></tr></table>
         <!--l. 129--><p class="nopar" >
         </li>
   <li 
     class="enumerate" id="x1-12005x2">
         <!--l. 130--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-119x.png" alt="&#x222B;                               &#x222B;
      --1----                         ---1---
      1 + x2 &#x22C5; dx = arctan(x ) + C o  1 + x2 &#x22C5; dx = - arccotan (x) + C
   " class="math-display" ><a 
    id="x1-12006r19"></a></div>
         </td><td class="equation-label">(19)</td></tr></table>
         <!--l. 132--><p class="nopar" >
         </li>
   
   <li 
     class="enumerate" id="x1-12008x3">
         <!--l. 133--><p class="noindent" >
         <table 
   class="equation"><tr><td>
   <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-120x.png" alt="&#x222B;                                   &#x222B;
      -&#x221A;--1-----&#x22C5; dx = arcsec |x1 + C o   --&#x221A;-1-----&#x22C5; dx = - arccosec|x| + C
      x  x2 - 1                          x   x2 - 1
   " class="math-display" ><a 
    id="x1-12009r20"></a></div>
         </td><td class="equation-label">(20)</td></tr></table>
         <!--l. 135--><p class="nopar" >
         </li></ol>
   <!--l. 138--><p class="noindent" >
      <h4 class="subsectionHead"><span class="titlemark">2.4.   </span> <a 
    id="x1-130002.4" name="sustitucion"></a>Integración por Sustitución</h4>
   <!--l. 139--><p class="noindent" >El método de sustitución es el más sencillo y el primero que debemos intentar para
   resolver una integral. Veamos en que consiste:
   <!--l. 141--><p class="indent" >   Supongamos que tenemos la siguiente integral
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-121x.png" alt="&#x222B;    2x
      --2----&#x22C5; dx
      x  + 1
   " class="math-display" ><a 
    id="x1-13001r21"></a></div>
   
      </td><td class="equation-label">(21)</td></tr></table>
   <!--l. 144--><p class="nopar" >
   Si prestamos atención vemos que la función en el numerador es la derivada de la
   función en el denominador. Es decir, si consideramos...
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-122x.png" alt="f (x ) = x2 + 1 ,entonces f&#x2032;(x) = 2xdx
   " class="math-display" ><a 
    id="x1-13002r22"></a></div>
      </td><td class="equation-label">(22)</td></tr></table>
   <!--l. 148--><p class="nopar" >
   Teniendo esto en cuenta podríamos plantear la siguiente sustitución..
   <!--l. 151--><p class="indent" >   A la función que consideramos anteriormente como f(x), ahora la llamamos t, o
   sea..
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-123x.png" alt="t = x2 + 1
   " class="math-display" ><a 
    id="x1-13003r23"></a></div>
      </td><td class="equation-label">(23)</td></tr></table>
   <!--l. 154--><p class="nopar" >
   entonces su derivada
      <table 
   class="equation"><tr><td>
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-124x.png" alt="dt = 2x dx
   " class="math-display" ><a 
    id="x1-13004r24"></a></div>
      </td><td class="equation-label">(24)</td></tr></table>
   <!--l. 158--><p class="nopar" >
   reescribiendo, la integral nos queda
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-125x.png" alt="&#x222B;
      1-&#x22C5; dt
      t
   " class="math-display" ><a 
    id="x1-13005r25"></a></div>
      </td><td class="equation-label">(25)</td></tr></table>
   <!--l. 162--><p class="nopar" >
   reacomodando para aplicar la regla de la potencia,
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-126x.png" alt="&#x222B;
       -2
      t   &#x22C5; dt
   " class="math-display" ><a 
    id="x1-13006r26"></a></div>
      </td><td class="equation-label">(26)</td></tr></table>
   
   <!--l. 166--><p class="nopar" >
   Esta última integral es mucho más fácil de resolver que la planteada al principio.
   Finalmente, aplicando la regla de la potencia, la resolvemos y nos queda
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-127x.png" alt="&#x222B;             -2+1     - 1
      - 2      -t-----    t--
     t   &#x22C5; dt = - 2 + 1 = - 1 + C
   " class="math-display" ><a 
    id="x1-13007r27"></a></div>
      </td><td class="equation-label">(27)</td></tr></table>
   <!--l. 170--><p class="nopar" >
   Como último paso, debemos volver a nuestra variable original que era x, para ello
   revertimos la sustitución que hicimos anteriormente..
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-128x.png" alt="                          2    - 1
   t = x2 + 1 y nos queda  (x--+-1-)--+  C
                              - 1
   " class="math-display" ><a 
    id="x1-13008r28"></a></div>
      </td><td class="equation-label">(28)</td></tr></table>
   <!--l. 174--><p class="nopar" >
   En este punto la integral ya está resuelta sin embargo podríamos simplificar un
   poco más su notación
      <table 
   class="equation"><tr><td>
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-129x.png" alt="  2     -1
   (x--+-1)-- = ----1--+ C
       - 1      x2 + 1
   " class="math-display" ><a 
    id="x1-13009r29"></a></div>
      </td><td class="equation-label">(29)</td></tr></table>
   <!--l. 178--><p class="nopar" >
   <!--l. 180--><p class="indent" >   Veamos otro ejemplo...
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-130x.png" alt="&#x222B;
   
      cos(x) &#x00D7; sen(x) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-13010r30"></a></div>
      </td><td class="equation-label">(30)</td></tr></table>
   <!--l. 183--><p class="nopar" >
   Como vemos, la derivada del seno es el coseno, o también, la derivada del coseno es
   -seno.
   <!--l. 186--><p class="indent" >   Para poder aplicar el método de sustitución debo identificar en la integral una
   función f y su derivada f&#8217;. En este caso, la función f sería cos(x) y su derivada -sen(x)
   (la derivada de la función f puede estar multiplicada o dividida por algún número,
   pero nunca sumando o restando ni dentro de un exponente o un logaritmo o como
   argumento de alguna otra función).
   <!--l. 190--><p class="indent" >   Si planteamos una sustitución similar al ejemplo anterior:
      <table 
   class="equation"><tr><td>
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-131x.png" alt="t = cos(x ), dt = - sen(x ) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-13011r31"></a></div>
      </td><td class="equation-label">(31)</td></tr></table>
   <!--l. 193--><p class="nopar" >
   Ahora debemos identificar estas sustituciones en la integral original, vemos
   que:
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-132x.png" alt="t = cos(x) pero dt = - sen (x) &#x22C5; dx y en la integral tenemos sen(x) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-13012r32"></a></div>
      </td><td class="equation-label">(32)</td></tr></table>
   <!--l. 197--><p class="nopar" >
   En este caso, al signo menos del seno en el dt, lo pasamos al otro miembro de la
   ecuación
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-133x.png" alt="dt = - sen(x ) &#x22C5; dx, - dt = sen (x) &#x22C5; dx
   " class="math-display" ><a 
    id="x1-13013r33"></a></div>
      </td><td class="equation-label">(33)</td></tr></table>
   <!--l. 201--><p class="nopar" >
   y ahora si podemos reemplazar todo en la integral original, quedando
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-134x.png" alt="&#x222B;                        &#x222B;
      cos(x) &#x00D7; sen(x) &#x22C5; dx =   t &#x22C5; (- )dt
   " class="math-display" ><a 
    id="x1-13014r34"></a></div>
      </td><td class="equation-label">(34)</td></tr></table>
   <!--l. 205--><p class="nopar" >
   el signo menos que multiplica al <span 
   class="cmti-12">dt </span>podemos colocarlo fuera de la integral según la
   regla del múltiplo constante
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-135x.png" alt="  &#x222B;           &#x222B;
                     1
   -    t &#x22C5; dt = -  t &#x22C5; dt
   " class="math-display" ><a 
    id="x1-13015r35"></a></div>
      </td><td class="equation-label">(35)</td></tr></table>
   <!--l. 209--><p class="nopar" >
   Ahora, aplicando la regla de la potencia</p>
      <table 
   class="equation"><tr><td>
   
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-136x.png" alt="  &#x222B;             2
   -    t1 &#x22C5; dt = - t + C
                   2
   " class="math-display" ><a 
    id="x1-13016r36"></a></div>
      </td><td class="equation-label">(36)</td></tr></table>
   <!--l. 213--><p class="nopar">
   y volviendo a nuestra variable original
   </p>
      <table 
   class="equation"><tr><td>
      <div class="math-display" >
   <img 
   src="../assets/imagenes/integral_indefinida/texto-137x.png" alt="  cos2(x)-
   -    2    + C
   " class="math-display" ><a 
    id="x1-13017r37"></a></div>
      </td><td class="equation-label">(37)</td></tr></table>
   <!--l. 217--><p class="nopar" >
      </p>
   </div>

   