<body>
<div id="encabezado" class="componente">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <app-encabezado></app-encabezado>
      </div>      
    </div>
  </div>
</div>

<app-nav-bar id="navegadora"></app-nav-bar>
<div class="container-fluid" id="contenido">
  <div class="row">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2" id="aside">
      Aside
    </div>
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8" id="principal">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2" id="aside2">
      Aside
    </div>
  </div>
</div>
<div id="footer" class="componente">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <app-footer></app-footer>
      </div>      
    </div>
  </div>
</div>
</body>