<body>  
  <div id="encabezado" class="encabezado">
    <div class="col-xxl-12 col-xl-12 col-lg-6 col-md-4 col-sm-2">
      <app-encabezado></app-encabezado>
    </div>      
  </div>
  
  
<div id="contenedor-menu">
  <button (click)="mostrarOcultar()">☰</button>
  <!--<a href="#contenedor-menu" id="desplegar" style="color:white">☰</a>
  <a href="#" id="ocultar">❌</a>-->
      <nav class="barraNav" id="barraMenu">        
        <!-- enlaces -->
        <ul class="navBarLista" id="contenedor-enlaces" (click)="ocultar()">
          <li >
            <a routerLink="intindef">Integral Indefinida</a>
          </li>
          <li>
            <a  routerLink="intdef">Integral Definida</a>
          </li>
          <li>
            <a  routerLink="calcarea">Cálculo de Áreas</a>
          </li>
          <li>
            <a  routerLink="ecdif">Ecuaciones Diferenciales</a>
          </li>
          <li>
            <a  routerLink="matrices">Matrices</a>
          </li>
          <li>
            <a  routerLink="sisecu">Sistema de Ecuaciones</a>
          </li>
        </ul>
      </nav>
</div>
<div class="row">
  <div id="contenido">
    <app-aside id="aside">      
    </app-aside>
    <div  id="principal">
      <router-outlet></router-outlet>
    </div>
    <app-aside id="aside2">      
    </app-aside>
  </div>
</div>  
    <div id="footer" class="footer">        
          <app-footer></app-footer>           
    </div>
</body>