<nav class="barraNav">
    <!-- enlaces -->
    <ul class="navBarLista">
      <li class="nav-item">
        <a class="nav-link" routerLink="intindef">Integral Indefinida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="intdef">Integral Definida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="calcarea">Cálculo de Áreas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ecdif">Ecuaciones Diferenciales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="matrices">Matrices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sisecu">Sistema de Ecuaciones</a>
      </li>
    </ul>
  </nav>
