nav{
    height: auto;
    width:100%;    
}
.barraNav{
    background-color: #09b009;
    border:1px solid black;
    
}

.navBarLista{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none; 
    width:100%;
    border:1px solid blue;
    height:auto;
    
}

ul li{
    display:block;
    align-content:center;
    height: 100%;
    color: white;
    text-align: center;
    border:1px solid red;
    transition:all ease-in-out 0.2s;  
    width: 20%;
}

ul li:hover{
    background-color: aliceblue;
    color:darkblue;
    border-radius: 50px;
}
