p{
    color:white;
    text-align: center;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
   
    }

div{
    background: linear-gradient( #0616fd, #004173);
    height: 3rem;
    
}